.exclusive-product{
    text-align:center;
    margin-top:40px;
    margin-bottom:40px;
}

.exclusive-product p{
    font-size:20px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left:5%;
    margin-right:5%;
    gap:5%;
}

.product-card {
    margin-top: 50px;
    width: 210px;
    height:auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: 200px;
}

.product-attribute {
    display: flex;
    justify-content: space-around;
}

.add-to-cart-button {
    margin-bottom: 10px;
    border-radius: 10px;
}