.carousel{
    background-color:rgba(26, 26, 26, 1);
}
.carousel-item{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.carousel-left-item{
    width:50%;
}

.carousel-right-item{
    margin-top:100px;
}

.carousel-right-item .jessica{
    background-image: url('assets/images/jessica.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 500px;
    width:300px; 
    color: white; 
    text-align: center; 
}