.header{
    text-align:center;
    background-color:rgba(26, 26, 26, 1);
}

.middle-navbar{
    display:flex;
    color:white;
    width:90%;
    justify-content:space-between;
    margin-left:auto;
    margin-right:auto;
}

.middle-navbar .middle-items{
    display:flex;
    gap:20px;
    list-style-type: none;
    margin-top:23px;
}

.middle-navbar .middle-title{
    font-size:40px;
}

.middle-navbar .middle-title a{
    text-decoration:none;
    cursor: pointer;
    color:inherit;
}

.middle-navbar ul li{
    font-size:14px;
    font-weight:400;
    cursor:pointer; 
    text-decoration:none;
}

.middle-navbar ul li a{ 
    text-decoration:none;
    color:inherit;
}


.header img{
    width:90%;
}


